/* Container to position text over the image */
.hero-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Image controls height naturally */
.hero-img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 1s ease;
}

/* Overlay */
.hero-content {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  color: white;
  padding: 40px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.brand-title {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
font-weight: 600;



  font-size: 4vw;
}

.factory-name {
  display: flex;
  justify-content: left;
  margin-top: -4vw;
  margin-left: 60%;
  font-weight: 10;
  font-size: 1.5vw;
  margin-bottom: 20px;
}

/* Text block */
.hero-text {
  font-size: 1.5vw;
  max-width: 600px;
}

/* Buttons */
.btn-primary {
  background: #ff2f8b;
  padding: 10px 18px;
  color: white;
  text-decoration: none;
  margin-right: 12px;
  border-radius: 6px;
}

.btn-outline {
  border: 2px solid white;
  padding: 8px 18px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* ---------- DESKTOP ---------- */
@media (min-width: 769px) {
  .hero-content {
    justify-content: flex-start;
  }

  .hero-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50%;
    align-self: flex-end;
    text-size-adjust: auto;
    text-align: left;
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {

  .brand-title{
    font-size: 8vw;
  }
  .factory-name {
    margin-top: -6vw;
    margin-left: 55%;
    font-size: 3vw;
    margin-bottom: 10px;
  }
  .hero-text {
    text-align: center;
    margin-top: auto;
    font-size: 3vw;
    padding-bottom: 20px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}
