.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  z-index: 1000;
}

.header-inner {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-title {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
font-weight: 600;
  margin-top: 0;



  font-size: 4vw;
}

.factory-name {
  display: flex;
  justify-content: left;
  margin-top: -3.5vw;
  margin-left: 150%;
  font-weight: 10;
  font-size: 1.5vw;
  margin-bottom: 20px;
  white-space: nowrap;
}

.cart-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background-color: #1f2937; /* dark premium look */
  color: #ffffff;
  border: none;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
}

.cart-btn:hover {
  background-color: #111827;
  transform: translateY(-1px);
}

.cart-icon {
  font-size: 18px;
}

.cart-count {
  background-color: #ef4444;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 7px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}


/* ---------- MOBILE ---------- */
@media (max-width: 768px) {

  .brand-title{
    font-size: 8vw;
  }
  .factory-name {
    margin-top: -6vw;
    margin-left: 55%;
    font-size: 3vw;
    margin-bottom: 10px;
  }
}