.category-browser {
  padding: 50px;
}


.category-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.category-btn {
  padding: 8px 16px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 600;
}

.category-btn.active {
  background: #333;
  color: #ddd;
  transform: scale(1.05);
}


.category-products {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Mobile: 1 card */
  gap: 50px;
  padding-bottom: 10px;

  scroll-behavior: smooth;
  scrollbar-width: none; /* Hide scrollbar - Firefox */
}

/* Spacer card */
.category-products > .blackbox-scroll {
  background-color: grey;
}

/* Tablet: 2 cards */
@media (min-width: 600px) {
  .category-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop: 3 cards */
@media (min-width: 900px) {
  .category-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
