.color-selector {
  margin-bottom: 25px;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.color-btn {
  width: 28px;
  height: 28px;
  border-radius: 40%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.color-btn.active {
  border: 5px solid black;
}
