.about-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
}

.about-section p {
  font-size: 1vw;
}

.about-section .border {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about-section {
    padding: 20px;
    gap: 20px;
  }

  .about-section p {
    font-size: 3vw;
  }
}