.quantity-selector {
  margin-bottom: 25px;
}

.quantity-box {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.quantity-box button {
  padding: 6px 12px;
  font-size: 18px;
  border: 1px solid #333;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-box span {
  font-size: 18px;
}
