.product-card {
  background: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: calc(100vw - 152px); /* account for padding */
  height: auto;       /* let content define height */
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.product-card h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  display: block;
}

.product-card strong {
  flex: 1;
  text-align: center;
}

.product-card .details-btn {
  margin-top: 10px;
  margin-left: auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card .details-btn:hover {
  background-color: #0056b3;
}

.product-card .details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.minimal-card {
  padding: 12px;
  background: transparent;
  box-shadow: none;
  text-align: left;
}


/* Tablet: 2 cards */
@media (min-width: 600px) {
  .product-card {
    max-width: calc(45vw);
  }
}

/* Desktop: 3 cards */
@media (min-width: 900px) {
  .product-card {
    max-width: calc(30vw);
  }
}
