body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #333;
  padding-top: 6vw;
}

html {
  scroll-padding-top: 6vw;
}


footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background: #eee;
}

@media (max-width: 768px) {
  body {
    padding-top: 13vw;
  }
  html {
    scroll-padding-top: 13vw;
  }
}